*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$primarycolor: #fcfcfc;

$primaryfont: ' black mustang';
$secondaryfont: 'florensa';

@font-face {
    font-family: $primaryfont;
    src: url("/fonts/impossible/IMPOS0__.ttf") format('truetype');
}

@font-face {
    font-family: $secondaryfont;
    src: url("/fonts/florensa/Florensa-Demo.ttf") format('truetype');
}
.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background: none;
    border: none;
    outline: none;
    font-family: $primaryfont;
    font-weight: 300;
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
    font-size: 2em;
    cursor: pointer;
}
.wholeContentContainer{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    font-size: 8em;
}
.text-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: orangered;
    z-index: -1;
}
.text-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
}
.text {
    width: 300%;
    font-family: $secondaryfont;
    font-size: 6vw; // Default font size for phones
    text-transform: uppercase;
    opacity: .1;
 


    @media (min-width: 701px) and (max-width: 1899px) {
        font-size: 7vw; // Font size for desktops
    }
    @media (min-width: 1900px) {
        font-size: 7vw; // Font size for large desktops
    }
}
